*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Archivos basura de los SO
Thumbs.db
*.ini
.DS_Store
*~
*.bak

#Carpetas y archivos de los IDEs
.idea
build/
*.iml
lib/
nbproject
build.xml
/dist/
/agendamlg-ejb/dist/
/agendamlg-war/dist/
/agendamlg-cliente/dist/
out/

# Ignorar algunos archivos creados por netbeans
src/conf/original_original_MANIFEST.MF
src/conf/original_original_application.xml

# Ignorar archivos del cliente, solucion: regenerar cliente
agendamlg-cliente/src/conf/xml-resources/web-service-references/Agendamlg/wsdl/localhost_8080/Agendamlg/Agendamlg.wsdl
agendamlg-cliente/src/conf/xml-resources/web-service-references/Agendamlg/wsdl/localhost_8080/Agendamlg/Agendamlg.xsd_1.xsd
agendamlg-cliente/web/WEB-INF/wsdl/localhost_8080/Agendamlg/Agendamlg.wsdl
agendamlg-cliente/web/WEB-INF/wsdl/localhost_8080/Agendamlg/Agendamlg.xsd_1.xsd

agendamlg-test/catalog.xml
agendamlg-test/conf/
agendamlg-test/web/WEB-INF/jax-ws-catalog.xml
agendamlg-test/web/WEB-INF/wsdl/
